<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <!-- <li><%= task.completed ? "[X]" : "[ ]" %> -->
      <!-- <%= link_to task.title, task_path(task) %></li> -->
      <li>
        <input type="checkbox" <%= task.completed ? checked = "checked" : checked = "" %> >
        <%= link_to task.title, task_path(task) %>
        <%= link_to "Delete", task_path(task), method: :delete,
        data: { confirm: "are you sure???"} %>
      </li>
  <% end %>
</ul>

<%= link_to "+ add new task", new_task_path %>
